/* Coolors Exported Palette - coolors.co/f87060-2e4057-06908f-188fa7-99c24d */

/* HSL */
$color1: hsla(6%, 92%, 67%, 1);
$color2: hsla(214%, 31%, 26%, 1);
$color3: hsla(180%, 92%, 29%, 1);
$color4: hsla(190%, 75%, 37%, 1);
$color5: hsla(81%, 49%, 53%, 1);

/* RGB */
$color1: rgba(248, 112, 96, 1);
$color2: rgba(46, 64, 87, 1);
$color3: rgba(6, 144, 143, 1);
$color4: rgba(24, 143, 167, 1);
$color5: rgba(153, 194, 77, 1);