/* Coolors Exported Palette - coolors.co/323031-db504a-626868-c6c7c4-939196 */

/* HSL */
$color1: hsla(330%, 2%, 19%, 1);
$color2: hsla(2%, 67%, 57%, 1);
$color3: hsla(180%, 3%, 40%, 1);
$color4: hsla(80%, 3%, 77%, 1);
$color5: hsla(264%, 2%, 58%, 1);

/* RGB */
$darkGrey: rgba(50, 48, 49, 1);
$red: rgba(219, 80, 74, 1);
$grey: rgba(98, 104, 104, 1);
$lightGrey2: rgba(198, 199, 196, 1);
$lightGrey: rgba(147, 145, 150, 1);