@import 'palette (1).scss';
@import 'setup';

body {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(bottom left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden;	
	font-family: 'Roboto', sans-serif;
}

header {
	text-align: center;
}

main {
	max-width: 1500px;
	margin: 0 5%;
	position: relative;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h1, h3 {
	color: $lightGrey2;
	text-transform: uppercase;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: calc(2rem + 2vw);
	margin-top: 1.5%;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}

h3 {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 3%;
	letter-spacing: 0.5px;
	font-size: 1.5rem;
	font-weight: bolder;
	font-style: italic;
}

h4 {
	margin-bottom: 3%;
	color: $red;
	letter-spacing: 0.75px;
}

p {
	color: $lightGrey;
	line-height: 1.5;
	letter-spacing: 0.1px;
	margin-bottom: 3%;
	&:first-child:first-letter {
		float: left; 
		color: $lightGrey2; 
		font-size: 75px; 
		line-height: 60px;
		margin-left: 50px;
		font-family: Georgia;
	}
}

a {
	color: $grey;
}

hr {
	width: calc(30px + 10vw);
	border: 1px solid $red;
}

.world-map {
	width: 100%;
	transform: scale(0);
	transition: all 2s ease;
	// background: white;
}

.world-map.large {
	transform: scale(1);
	transition: all 2s ease-out;
}

.world-map.animate {
    transform: scale(0.65) translateX(-35%) translateY(-10%) translate3d(0, 0, 0);
}

#vmap {
	height: 90vh;
	transition: all 2s ease;
	width: 100%;
}

.animal-profile {
	width: 40%;
	margin-right: 0;
	position: absolute;
	right: 2%;
	top: 10%;
	text-align: right;
	margin-bottom: 5%;
	.wiki-img {
		max-width: 300px;
		max-height: 300px;
		height: auto;
		border: 2px solid black;
		margin-bottom: 3%;
	}
	.question-mark {
		width: 150px;
		margin-bottom: 3%;
	}
	a {
		transition: 0.2s all ease;
		&:hover {
			color: $lightGrey2;
		}
	}
}

.animal-name span {
	font-style: italic;
}

footer {
	margin: 0 auto;
	margin-bottom: 2%;
	width: 60%;
	text-align: center;
	color: $grey;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: 0.85rem;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	a {
		color: $lightGrey;
		transition: 0.2s all ease;
		&:hover {
			color: $red;
		}
	}

	#meaganPau {
		text-transform: uppercase;
	}
}

@media (max-width: 850px) {

	body {
		height: 100vh;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 14px;
	}

	#vmap {
		height: 50vh;
	}

	.world-map.animate {
    	transform: scale(0.65) translateY(-30%) translate3d(0, 0, 0);
	}

	.animal-profile {
		margin: 0 auto;
		width: 60%;
		position: initial;
		text-align: center;
	}

	.question-mark {
		max-width: 80px;
	}

	.animal-profile .wiki-img {
		max-width: 200px;
		max-height: 200px;
	}

	.animal-profile a {
		font-size: 14px;
	}

	p {
		font-size: 14px;
	}

	p:first-child:first-letter {
		margin-left: 10px;
		font-size: 50px;
		line-height: 45px;
	}

	footer {
		margin: 5%;
		display: initial;
	}
}
